.nav-container {
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 5px 8px 0 rgb(0 0 0 / 14%),
    0 1px 14px 0 rgb(0 0 0 / 12%);
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 9999;
  scroll-behavior: smooth;
}

/* nav.header-nav {
  position: absolute;
  top: -13px;
  background-color: black;
  left: 700px;
  padding-top: 40px;
} */

nav.header-nav ul {
  font-weight: bold;
  color: #003366;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
}

.navBar {
  background-color: white;
  height: 90px;
  /* position: fixed;
  position: 1px;
  z-index: 9999;
  width: 100%; */
}

.logo {
  width: 80px;
  height: 80px;
}
.logo img {
  width: 100%;
}

nav.header-nav ul li a:hover {
  background-color: #003366;
  color: white;
}

nav.header-nav ul li a {
  display: block;
  padding: 5px;
  white-space: nowrap;
  font-size: 1rem;
  transition: all 500ms;
  border-radius: 5px;
}

/*************************** image arriere plan *****************************/
.bread {
  background-image: url(../images/boulangerie.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  background-position-x: center;
  display: flex;
  align-items: center;
}

.bread-section {
  padding: 0 !important;
}

.bread h2 {
  color: white;
  font-size: 3rem;
  width: 530px;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  font-family: "Montserrat:ital";
}

/**************************PRODUIT ********************************/

section.container-prod {
  background-color: #efefef;
  height: 70vh;
  width: 100vw;
}

.produit {
  flex-wrap: wrap;
}

.produit .produits_pains {
  width: 30%;
  height: 55vh;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

.produit .produits_pains .big-image img {
  width: 100%;
  transition: 1s;
  cursor: pointer;
}

.produit .produits_pains .big-image img:hover {
  transform: scale(1.1);
}

.title h2 {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Montserrat:ital";
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 0;
}

.para_text {
  font-family: "Montserrat:ital";
  font-size: 1rem;
  text-align: center;
  padding: 10px;
}

section h1 {
  text-align: center;
  font-size: 2rem;
  padding-top: 20px;
  text-transform: uppercase;
  font-family: "Tagesschrift";
}

.container .produit {
  flex-wrap: wrap;
  margin: auto;
}

.container h1 {
  padding-bottom: 100px;
}

/********************************Gallery *******************************/
.gallerie-items .gallerie-item {
  width: 30%;
  height: 50vh;
  transition: all 1s;
  background-color: #ccc;
  border-radius: 10px;
  overflow: hidden;
}

.gallerie-items .gallerie-item:hover {
  box-shadow: 2px 8px 12px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  cursor: pointer;
}

.gallerie-item img {
  width: 100%;
}

.gallerie-items {
  flex-wrap: wrap;
}

/************************* COMMANDE *************************/
.commande-items {
  flex-wrap: wrap;
}
.commande-items .commande-item {
  width: 30%;
  margin-left: 20px;
  border: 1px solid chocolate;
  border-radius: 15px;
  overflow: hidden;
  transition: all 750ms;
  margin: 10px auto;
  background-color: white;
}

.commande-items .commande-item:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.commande-items .commande-item img {
  width: 100%;
}

.commande-title h3 {
  text-align: center;
  padding: 10px 0;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.commande-texte p {
  text-align: center;
  font-size: 1rem;
  margin: 0;
}

.btn-commande .btn-submit-commande {
  display: block;
  margin: 20px auto;
  border: none;
  padding: 10px;
  text-transform: uppercase;
  background-color: #003366;
  font-weight: bold;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
}

section {
  padding-bottom: 100px;
  padding-top: 100px;
}

.service-container {
  background-color: rgba(210, 123, 30, 0.05);
}

/*=========================== CONTACTS ==================================*/

.app {
  background-color: white;
  width: 100%;
  height: 55vh;
}

.form-row {
  margin: 10px 0;
}

.form-row input {
  width: 100%;
  height: 40px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding-left: 10px;
  font-size: larger;
}

.form-row textarea {
  outline: none;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding-left: 10px;
  width: 100%;
}

.contact-title h2 {
  font-size: 1rem;
  color: goldenrod;
}

.getTouch h2 {
  font-size: 1.3rem;
}

.touchPara p {
  font-size: 0.9rem;
  font-family: "Tagesschrift";
}

.calls i,
.icon-adress i {
  font-size: 1.2rem;
  color: goldenrod;
  margin: 10px;
}

.number-phone,
.email {
  margin-bottom: 5px;
  margin-left: 25px;
  font-weight: bold;
  font-size: 1.2rem;
}

.submit {
  padding: 10px;
  font-size: 1.2rem;
  border: none;
  background-color: #003366;
  color: white;
  width: fit-content;
  margin: auto;
  border-radius: 5px;
  font-weight: bold;
}

#form-contact {
  flex-wrap: wrap;
  margin-left: 20px;
  min-width: 60%;
}

.contactez-nous {
  min-width: 30%;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.burger-icon::after {
  content: "\002636";
  font-size: 20px;
  background-color: white;
  display: block;
  position: absolute;
  top: 1px;
  display: none;
  /* left: 95%; */
}

/************************* MEDIA ****************************/
@media screen and (min-width: 701px) and (max-width: 1024px) {
  .commande-items .commande-item {
    width: 95%;
  }

  .gallerie-items .gallerie-item {
    width: 95%;
  }

  .produit .produits_pains {
    width: 95%;
    height: 70vh;
  }

  .produit .produits_pains .para_text p {
    font-size: 1.7rem;
  }

  section.container-prod {
    height: 210vh;
  }

  .contactez-nous {
    display: none;
  }

  .form-row input {
    width: 90%;
  }

  .form-row textarea {
    width: 90%;
  }
}

@media screen and (max-width: 700px) {
  nav.header-nav,
  ul {
    flex-direction: column;
    width: 100%;
  }

  .bread {
    margin: 0 auto;
    width: 95%;
  }

  section.container-prod {
    background-color: #efefef;
    height: 180vh;
  }

  .produit .produits_pains {
    width: 95%;
  }

  .logo {
    position: fixed;
    top: 1px;
  }

  .gallerie-items .gallerie-item {
    width: 95%;
  }

  nav.header-nav {
    font-weight: bold;
    color: #003366;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    padding-right: 0px;
  }

  .burger-icon::after {
    content: "\002636";
    font-size: 20px;
    background-color: white;
    display: block;
    position: fixed;
    top: 1px;
    left: 85%;
  }

  nav.header-nav {
    display: block;
    margin-top: 320px;
  }

  nav.header-nav {
    background-color: white;
  }

  .container {
    width: 100%;
  }

  .bread h2 {
    width: 95%;
    font-size: 2rem;
  }

  .commande-items .commande-item {
    width: 95%;
  }

  .form-row input {
    width: 85%;
  }

  .form-row textarea {
    width: 85%;
  }

  #form-contact {
    margin-left: 20px;
  }

  .produit .produits_pains {
    height: 56vh;
  }

  .produits_pains .para_text {
    font-size: 1.1rem;
  }

  .commande-items .commande-item {
    height: 73vh;
  }

  .commande-items .commande-item .commande-texte p {
    font-size: 1.1rem;
  }

  .contactez-nous {
    display: none;
  }

  .container-footer h3 {
    font-size: 1rem;
  }

  #form-contact {
    min-width: 30%;
  }
}

/**============================ FOOTER ==========================**/

footer {
  background-color: black;
  padding: 40px 0;
  color: white;
  text-align: center;
}

.container-footer {
  max-width: 1000px;
  margin: auto;
}
