.nav-container {
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 5px 8px 0 rgb(0 0 0 / 14%),
    0 1px 14px 0 rgb(0 0 0 / 12%);
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 9999;
}

nav#menu ul {
  font-weight: bold;
  color: #003366;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  padding-right: 50px;
}

nav#menu .logo img {
  width: 80px;
}

nav#menu ul li a:hover {
  background-color: #003366;
  color: white;
  border-radius: 5px;
  /* transition: margin-right 2s ease-in-out; */
}

nav#menu ul li a {
  display: block;
  padding: 10px;
  white-space: nowrap;
  font-size: 1rem;
  transition: all 750ms;
}

/*************************** image arriere plan *****************************/
.bread {
  background-image: url(../images/boulangerie.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  background-position-x: center;
  display: flex;
  align-items: center;
}

.bread-section {
  padding: 0 !important;
}

.bread h2 {
  color: white;
  font-size: 3rem;
  width: 530px;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  font-family: "Montserrat:ital";
}

/**************************PRODUIT ********************************/

section.container-prod {
  background-color: #efefef;
  height: 70vh;
  width: 100vw;
}

.produit {
  flex-wrap: wrap;
}

.produit .produits_pains {
  width: 30%;
  height: 55vh;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

.produit .produits_pains .big-image img {
  width: 100%;
  transition: 1s;
  cursor: pointer;
}

.produit .produits_pains .big-image img:hover {
  transform: scale(1.1);
}

.title h2 {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Montserrat:ital";
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 0;
}

.para_text {
  font-family: "Montserrat:ital";
  font-size: 1rem;
  text-align: center;
  padding: 10px;
}

section h1 {
  text-align: center;
  font-size: 2rem;
  padding-top: 20px;
  text-transform: uppercase;
  font-family: "Tagesschrift";
}

.container .produit {
  flex-wrap: wrap;
  margin: auto;
}

.container h1 {
  padding-bottom: 50px;
}

/********************************Gallery *******************************/
.gallerie-items .gallerie-item {
  width: 30%;
  height: 50vh;
  transition: all 1s;
  /* margin-left: 25px; */
  background-color: #ccc;
  border-radius: 10px;
  overflow: hidden;
}

.gallerie-items .gallerie-item:hover {
  box-shadow: 2px 8px 12px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  cursor: pointer;
}

.gallerie-item img {
  width: 100%;
}

.gallerie-items {
  flex-wrap: wrap;
}

/************************* COMMANDE *************************/
.commande-items {
  flex-wrap: wrap;
}
.commande-items .commande-item {
  width: 30%;
  height: 65vh;
  margin-left: 20px;
  border: 1px solid chocolate;
  border-radius: 15px;
  overflow: hidden;
  transition: all 1s;
  margin: 10px auto;
}

.commande-items .commande-item:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.commande-items .commande-item img {
  width: 100%;
}

.commande-title h3 {
  text-align: center;
  padding: 10px 0;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.commande-texte p {
  text-align: center;
  font-size: 1rem;
}

.btn-commande .btn-submit-commande {
  display: block;
  margin: 0 auto;
  border: none;
  padding: 10px;
  text-transform: uppercase;
  background-color: green;
  color: white;
}

section {
  padding-bottom: 100px;
  padding-top: 100px;
}

/*=========================== CONTACTS ==================================*/

#app {
  background-color: white;
  width: 100%;
  height: 60vh;
}

.form-row {
  margin: 10px 0;
}

.form-row input {
  width: 400px;
  height: 40px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding-left: 10px;
  font-size: larger;
}

.form-row textarea {
  outline: none;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding-left: 10px;
}

.contact-title h2 {
  font-size: 1rem;
  color: goldenrod;
}

.getTouch h2 {
  font-size: 1.3rem;
}

.touchPara p {
  font-size: 0.9rem;
  font-family: "Tagesschrift";
}

.calls i,
.icon-adress i {
  font-size: 1.2rem;
  color: goldenrod;
  margin: 10px;
}

.number-phone,
.email {
  margin-bottom: 5px;
  margin-left: 25px;
  font-weight: bold;
  font-size: 1.2rem;
}

.submit {
  padding: 10px;
  font-size: 1.2rem;
  border: none;
  background-color: chocolate;
  color: #ccc;
}

#form-contact {
  flex-wrap: wrap;
  margin-left: 20px;
}

/************************* MEDIA ****************************/
@media screen and (min-width: 701px) and (max-width: 1024px) {
  .commande-items .commande-item {
    width: 95%;
  }

  .gallerie-items .gallerie-item {
    width: 95%;
  }

  .produit .produits_pains{
    width: 95%;
    height: 70vh;
  }

  .produit .produits_pains .para_text p{
    font-size: 1.7rem;
  }

  section.container-prod {
    height: 210vh;
  }

}

@media screen and (max-width: 700px) {
  nav#menu,
  ul {
    flex-direction: column;
    width: 100%;
  }

  .bread {
    margin: 0 auto;
    width: 95%;
  }

  section.container-prod {
    background-color: #efefef;
    height: 180vh;
  }

  .produit .produits_pains {
    width: 95%;
  }

  .gallerie-items .gallerie-item {
    width: 95%;
  }

  nav#menu ul {
    font-weight: bold;
    color: #003366;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    padding-right: 0px;
  }

  .burger-icon::after {
    content: "\002636";
    float: left;
    font-size: 40px;
    padding: 10px 0 0 10px;
    display: block;
  }

  nav#menu .logo,
  nav#menu ul li {
    display: none;
  }

  .bread h2 {
    width: 95%;
    font-size: 2rem;
  }

  .commande-items .commande-item {
    width: 95%;
  }

  .form-row input,
  textarea {
    width: 85%;
  }

  #form-contact {
    margin-left: 20px;
  }

  .produit .produits_pains {
    height: 59vh;
  }

  .produits_pains .para_text{
    font-size: 1.1rem;
  }

  .commande-items .commande-item{
    height: 67vh;
  }

  .commande-items .commande-item .commande-texte p{
    font-size: 1.1rem;
  }
}

