nav {
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 5px 8px 0 rgb(0 0 0 / 14%),
    0 1px 14px 0 rgb(0 0 0 / 12%);
  position: sticky;
  top: 0;
  background-color: white;
}
nav#menu ul {
  font-weight: bold;
  color: #003366;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  padding-right: 50px;
}

nav#menu .logo img {
  width: 150px;
  padding-left: 50px;
}

nav#menu ul li a:hover {
  background-color: black;
  color: white;
  /* border-bottom: 2px solid #ccc; */
}

nav#menu ul li a {
  display: block;
  padding: 10px;
  white-space: nowrap;
  font-size: 1rem;
}

/*************************** image arriere plan *****************************/
.bread {
  background-image: url("/assets/images/boulangerie.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  background-position-x: center;
}

.bread h2 {
  color: white;
  font-size: 1.5rem;
  padding: 20px;
  width: 530px;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
}

/**************************PRODUIT ********************************/

section h1 {
  text-align: center;
  font-size: 2rem;
  padding-top: 20px;
  text-transform: uppercase;
}
.produit .pains {
  width: 300px;
  background-color: white;
  border-radius: 10px;
  /* border: 1px solid #ccc; */
}

.produit .pains:hover {
  box-shadow: 2px 8px 12px rgba(0, 0, 0, 0.2);
}

.pains h2 {
  text-align: center;
  margin: 0;
  font-size: 1.5rem;
}

.big-image img {
  width: 100%;
}

.text p {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  margin: 2px;
  /* color: #ccc; */
}

.container .produit {
  flex-wrap: wrap;
  margin: auto;
}

section:nth-child(1) {
  background-color: #ccc;
}
section:nth-child(2) {
  background-color: #ccc;
}

/* section {
  background-color: #ccc;
} */

/********************************Gallery *******************************/
.gallerie-items .gallerie-item {
  width: 400px;
  margin-left: 25px;
  background-color: #ccc;
  /* box-shadow: 2px 8px 12px rgba(0, 0, 0, 0.2); */
  border-radius: 10px;
  overflow: hidden;
}

.gallerie-items .gallerie-item:hover {
  box-shadow: 2px 8px 12px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
  cursor: pointer;
}

.gallerie-item img {
  width: 100%;
  height: 400px;
}

.gallerie-items {
  flex-wrap: wrap;
}

/************************* COMMANDE *************************/

.container-service {
  height: 50vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "commande livraison";
  /* grid-gap: 50px; */
}

.commande-item {
  background-color: #ccc;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 2px 8px 12px rgba(0, 0, 0, 0.2);
}
.commande {
  background-color: brown;
  grid-area: commande;
}

.livraison {
  background-color: orange;
  grid-area: livraison;
}

.commande-items .commande-item {
  width: 550px;
}

.commande-image img {
  width: 100%;
  height: 500px;
}

.container h2 {
  text-align: center;
  padding-top: 20px;
}

.commande-title h3 {
  text-align: center;
  padding-top: 10px;
  margin-bottom: 0;
}

.commande-texte p {
  font-size: 1rem;
  text-align: justify;
  margin-top: 7px;
  padding: 10px;
}

.btn-commande button {
  display: block;
  border: none;
  padding: 10px;
  border-radius: 10px;
  background-color: blue;
  color: white;
  margin: auto;
  font-weight: bold;
  /* padding-bottom: 10px; */
}

/************************* MEDIA ****************************/

@media screen and (max-width: 700px) {
  nav#menu,
  ul {
    flex-direction: column;
    width: 100%;
    /* border-bottom: 2px solid #ccc; */
  }

  .bread {
    margin: 0 auto;
    width: 95%;
  }

  .gallerie-items .gallerie-item {
    width: 95%;
    margin: auto;
  }
}
